.error{
    color:red;
    font-weight: bold;
}
.warning{
    color:orange;
    font-weight: bold;
}
.success{
    color: green;
    font-weight: bold;
}
table{
    border-collapse: collapse;
}

th{
    background-color: lightgray;
}

th, td{
    border:1px solid grey;
    padding: 5px;
}